USE [master]
GO
/****** Object:  Database [boilerplate_db]    Script Date: 1/22/2024 4:33:03 PM ******/
CREATE DATABASE [boilerplate_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'boilerplate_db', FILENAME = N'/var/opt/mssql/data/boilerplate_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'boilerplate_db_log', FILENAME = N'/var/opt/mssql/data/boilerplate_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [boilerplate_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [boilerplate_db]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/22/2024 4:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entities]    Script Date: 1/22/2024 4:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entities](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Sku] [nvarchar](450) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Published] [bit] NOT NULL,
	[Created] [datetime2](7) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Entities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntityMedia]    Script Date: 1/22/2024 4:33:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntityMedia](
	[Id] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[ProductsId] [uniqueidentifier] NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
	[ImageType] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_EntityMedia] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240122140202_initial-migration', N'7.0.8')
GO
INSERT [dbo].[Entities] ([Id], [Name], [Description], [Sku], [Price], [Published], [Created], [Quantity]) VALUES (N'b564f621-dbec-4cdf-4c2c-08dbec41cd38', N'Test Entity', N'Description for Test Entity', N'SKU-01', CAST(0.99 AS Decimal(18, 2)), 1, CAST(N'2023-09-04T10:32:00.2670000' AS DateTime2), 1)
INSERT [dbo].[Entities] ([Id], [Name], [Description], [Sku], [Price], [Published], [Created], [Quantity]) VALUES (N'f5e57ab5-f97f-4906-0da4-08dbec45717d', N'Test Entity II', N'Description for Test Entity', N'SKU-T', CAST(777.99 AS Decimal(18, 2)), 1, CAST(N'2023-11-23T18:58:54.9961072' AS DateTime2), 5)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Entities_Name]    Script Date: 1/22/2024 4:33:04 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Entities_Name] ON [dbo].[Entities]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Entities_Sku]    Script Date: 1/22/2024 4:33:04 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Entities_Sku] ON [dbo].[Entities]
(
	[Sku] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_EntityMedia_ProductsId]    Script Date: 1/22/2024 4:33:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_EntityMedia_ProductsId] ON [dbo].[EntityMedia]
(
	[ProductsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EntityMedia]  WITH CHECK ADD  CONSTRAINT [FK_EntityMedia_Entities_ProductsId] FOREIGN KEY([ProductsId])
REFERENCES [dbo].[Entities] ([Id])
GO
ALTER TABLE [dbo].[EntityMedia] CHECK CONSTRAINT [FK_EntityMedia_Entities_ProductsId]
GO
USE [master]
GO
